@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-bar-container {
  background-color: white;
  height: 100px;
  border-bottom: 1px solid black;
}

.header-bar-container.visible {
  animation-duration: 500ms;
  animation-name: fadeIn;
}

.header-bar-container.hidden {
  opacity: 0;
}
